<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration			
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
 	<typeAliases>
 		<typeAlias type="com.yakssok.model.Search_helper" alias="search_helper" />
 		
 		<typeAlias type="com.yakssok.model.drugstore.Drugstore" alias="drugstore"/>
 		<typeAlias type="com.yakssok.model.drugstore.Drugstore_helper" alias="drugstore_helper"/>
 		
 		<typeAlias type="com.yakssok.model.member.Member" alias="member" />
 		
 		<typeAlias type="com.yakssok.model.board.Board" alias="board" />
 		
 		<typeAlias type="com.yakssok.model.pill.P_effect" alias="p_effect" />
 		<typeAlias type="com.yakssok.model.pill.P_detail_1" alias="p_detail_1" />
 		<typeAlias type="com.yakssok.model.pill.P_detail_2" alias="p_detail_2" />
 		<typeAlias type="com.yakssok.model.pill.Pill" alias="pill" />
 		<typeAlias type="com.yakssok.model.pill.P_ingredient" alias="p_ingredient" />
 		<typeAlias type="com.yakssok.model.pill.P_company" alias="p_company" />
 		<typeAlias type="com.yakssok.model.pill.P_list" alias="p_list" />
 		<typeAlias type="com.yakssok.model.pill.P_one" alias="p_one" />
 		
 		<typeAlias type="com.yakssok.model.pill.P_rating" alias="p_rating" />
 		<typeAlias type="com.yakssok.model.pill.P_review" alias="p_review" />
 		
 		<typeAlias type="com.yakssok.model.pill.P_mList" alias="p_mList" />
 		<typeAlias type="com.yakssok.model.pill.P_mOne" alias="p_mOne" />
 		
 		<typeAlias type="com.yakssok.model.suggest.Suggest" alias="suggest" />
 	</typeAliases>
 </configuration>