<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="DrugstoreMapper">
	
	<select id="firstValues" resultType="String">
		SELECT first FROM drugstore_view GROUP BY first;
	</select>
	
	<select id="secondListAll" parameterType="String" resultType="drugstore">
		SELECT * FROM drugstore_view WHERE second = #{second} ORDER BY name;
	</select>
	
	<select id="secondValues" parameterType="String" resultType="String">
		SELECT second FROM drugstore_view WHERE first = #{first} GROUP BY second order by second
	</select>
	
	<select id="secondListOne" parameterType="drugstoreFS" resultType="drugstore">
		SELECT * FROM drugstore_view WHERE first = #{first} AND second = #{second} ORDER BY second
	</select>
	
	
	
	
	
	
</mapper>