<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="MemberMapper">

	<select id="oneRecord" parameterType="member" resultType="member">
		select * from member
		where id = #{id}
	</select>
	
	<select id="FindId" parameterType="member" resultType="member">
		select * from member 
		where name = #{name} and email = #{email}
	</select>
	
	<update id="EditPw" parameterType="member" >
		update member 
		set pw = #{pw}
		where id = #{id}
	</update>
	
	<delete id="DeleteMember" parameterType="member">
		delete from member
		where id = #{id}
	</delete>
	
	<insert id="InsertDeleteMember">
		insert into member_deleted (m_idx, id, pw, nickname, name, age, gender, tel, email, address, joinDate, point) 
		values (#{m_idx}, #{id}, #{pw}, #{nickname}, #{name}, #{age}, #{gender}, #{tel}, #{email}, #{address}, #{joinDate}, #{point});
	</insert>
	
	<update id="UpdateMember" parameterType="member">
		update member 
		set nickname = #{nickname}, name = #{name}, age =#{age}, tel = #{tel},email = #{email}, address = #{address}
		where id = #{id};
	</update>
	
	
</mapper>