<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="PillMapper">

	<select id="all_list_count" resultType="int">
		SELECT COUNT(*) FROM p_list_view
	</select>

	<select id="all_list" parameterType="p_list_helper" resultType="p_list">
		SELECT * FROM p_list_view LIMIT #{p1}, #{p2}
	</select>
	
	<select id="name_list_count" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM p_list_view WHERE name LIKE #{keyword}
	</select>
	
	<select id="name_list" parameterType="p_list_helper" resultType="p_list">
		SELECT * FROM p_list_view WHERE name LIKE #{keyword} LIMIT #{p1}, #{p2}
	</select>
	
	<select id="effect_list_count" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM p_list_view WHERE effect_main LIKE #{keyword}
	</select>
	
	<select id="effect_list" parameterType="p_list_helper" resultType="p_list">
		SELECT * FROM p_list_view WHERE effect_main LIKE #{keyword} LIMIT #{p1}, #{p2}
	</select>
	
	<select id="company_list_count" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM p_list_view WHERE company_name LIKE #{keyword}
	</select>
	
	<select id="company_list" parameterType="p_list_helper" resultType="p_list">
		SELECT * FROM p_list_view WHERE company_name LIKE #{keyword} LIMIT #{p1}, #{p2}
	</select>
	
	<select id="ingredient_list_count" parameterType="String" resultType="int">
		SELECT COUNT(distinct p.p_idx) FROM p_ingredient pi JOIN p_list_view p ON pi.p_idx = p.p_idx WHERE eng LIKE #{keyword} OR kor like #{keyword}
	</select>
	
	<select id="ingredient_list" parameterType="p_list_helper" resultType="p_list">
		SELECT DISTINCT p.p_idx, name, imgPath, company_name, effect_main FROM p_ingredient pi JOIN p_list_view p ON pi.p_idx = p.p_idx WHERE eng like #{keyword} OR kor like #{keyword} LIMIT #{p1}, #{p2}
	</select>
	
	<!-- 하나의 약품정보 보기 -->
	<select id="one_view" parameterType="int" resultType="p_one">
		SELECT * FROM p_one_view WHERE p_idx = #{p_idx}
	</select>
	
	<select id="get_p_dont" parameterType="int" resultType="String">
		SELECT img FROM p_dont WHERE p_dont_idx = #{p_dont_idx}
	</select>
	<select id="get_p_saveHow" parameterType="int" resultType="String">
		SELECT img FROM p_saveHow WHERE p_saveHow_idx = #{p_saveHow_idx}
	</select>
	<select id="get_p_sideEffect" parameterType="int" resultType="String">
		SELECT img FROM p_sideEffect WHERE p_sideEffect_idx = #{p_sideEffect_idx}
	</select>
	<select id="get_p_useHow" parameterType="int" resultType="String">
		SELECT img FROM p_useHow WHERE p_useHow_idx = #{p_useHow_idx}
	</select>
	<select id="get_p_food" parameterType="int" resultType="String">
		SELECT img FROM p_food WHERE p_food_idx = #{p_food_idx}
	</select>
	<select id="get_p_form" parameterType="int" resultType="String">
		SELECT img FROM p_form WHERE p_form_idx = #{p_form_idx}
	</select>
	<select id="get_p_caution" parameterType="int" resultType="String">
		SELECT img FROM p_caution WHERE p_caution_idx = #{p_caution_idx}
	</select>
	
	
	<select id="pi_list" parameterType="int" resultType="p_ingredient">
		SELECT * FROM p_ingredient WHERE p_idx = #{p_idx}
	</select>
	
	<select id="checkRating" parameterType="int" resultType="p_rating">
		SELECT * FROM p_rating WHERE p_idx = #{p_idx} AND m_idx = #{m_idx}
	</select>
	
	<select id="all_Good" parameterType="int" resultType="int">
		SELECT SUM(good) FROM p_rating WHERE p_idx = #{p_idx}
	</select>
	<select id="all_Bad" parameterType="int" resultType="int">
		SELECT SUM(bad) FROM p_rating WHERE p_idx = #{p_idx}
	</select>

	
	<select id="getCompany_idx" parameterType="String" resultType="int">
		SELECT p_company_idx FROM p_company WHERE name = #{name}
	</select>
	
	<insert id="add_p_effect" parameterType="p_effect" useGeneratedKeys="true" keyProperty="p_effect_idx">
		INSERT INTO p_effect (main, etc) VALUES (#{main}, #{etc})
	</insert>
	
	<insert id="add_p_detail_1" parameterType="p_detail_1" useGeneratedKeys="true" keyProperty="p_detail_1_idx">
		INSERT INTO p_detail_1 (sg, route, look, packing) VALUES (#{sg}, #{route}, #{look}, #{packing})
	</insert>
	
	<insert id="add_p_detail_2" parameterType="p_detail_2" useGeneratedKeys="true" keyProperty="p_detail_2_idx">
		INSERT INTO p_detail_2 (p_caution_idx, p_form_idx, p_food_idx, p_useHow_idx, p_sideEffect_idx, p_saveHow_idx, p_dont_idx) VALUES (#{p_caution_idx}, #{p_form_idx}, #{p_food_idx}, #{p_useHow_idx}, #{p_sideEffect_idx}, #{p_saveHow_idx}, #{p_dont_idx})
	</insert>
	
	<insert id="add_pill" parameterType="pill" useGeneratedKeys="true" keyProperty="p_idx">
		INSERT INTO pill (name, imgPath, p_effect_idx, p_company_idx, p_detail_1_idx, p_detail_2_idx) 
		VALUES (#{name}, #{imgPath}, #{p_effect_idx}, #{p_company_idx}, #{p_detail_1_idx}, #{p_detail_2_idx})
	</insert>
	
	<insert id="add_p_ingredient" parameterType="p_ingredient">
		INSERT INTO p_ingredient (p_idx, eng, kor, content) VALUES (#{p_idx}, #{eng}, #{kor}, #{content})
	</insert>
	
	<insert id="add_company" parameterType="p_company">
		INSERT INTO p_company (name, address, tel, fax, url) VALUES (#{name}, #{address}, #{tel}, #{fax}, #{url})
	</insert>
	
	
	
	<select id="getCompanyNames" resultType="String">
		SELECT name FROM p_company GROUP BY name
	</select>
	
	<select id="getDont" resultType="String">
		SELECT img FROM p_dont 
	</select>
	
	<select id="getSaveHow" resultType="String">
		SELECT img FROM p_saveHow
	</select>
	
	<select id="getSideEffect" resultType="String">
		SELECT img FROM p_sideEffect 
	</select>
	
	<select id="getUseHow" resultType="String">
		SELECT img FROM p_useHow
	</select>
	
	<select id="getFood" resultType="String">
		SELECT img FROM p_food 
	</select>
	
	<select id="getForm" resultType="String">
		SELECT img FROM p_form 
	</select>
	
	<select id="getCaution" resultType="String">
		SELECT img FROM p_caution 
	</select>
	
	
</mapper>