@charset "UTF-8";

<
link
	href ="https: //fonts.googleapis.com /css?family=Do+Hyeon |Nanum+Gothic+Coding
	 |Sunflower: 300" rel ="stylesheet ">          <!--웹폰트 import  --> 
	 
	 <style type ="text /css">
	 
<!-- 대제목 -->
.title_1st {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 50px;
	color: CornflowerBlue;
}
<!-- 소제목 -->

.title_2st {
	font-family: 'Sunflower', sans-serif;
	font-size: 20px;
	color: PaleVioletRed;
}
<!-- 소제목 안쪽 ul 목록 css -->  
.list_1st {
	font-family: 'Nanum Gothic Coding', monospace;
	font-size: 15px;
	line-height: 25px;
}

#life_1st {
	border: 1px;
	padding: 10px;
	background: Gainsboro;
}

<!-- 생활응급처치에서 '열 손상 관련 질환' 테이블 css -->

#one-column-emphasis {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
	width: 1300px;
	text-align: center;
	border-collapse: collapse;
}

#one-column-emphasis th {
	font-size: 16px;
	font-weight: normal;
	padding: 12px 15px;
	color: #039;
}

#one-column-emphasis td {
	padding: 10px 15px;
	color: #669;
	border-top: 1px solid #e8edff;
}

.oce-first {
	background: #d0dafd;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

#one-column-emphasis tr:hover td {
	color: #339;
	background: #eff2ff;
}