@charset "UTF-8";


<link
	href="https://fonts.googleapis.com/css?family=Do+Hyeon|Nanum+Gothic+Coding|Sunflower:300"
	rel="stylesheet">
<style type="text/css">
<!-- 대제목 -->
.title_1 {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 50px;
	color: CornflowerBlue;
}
<!-- 소제목 -->

.title_2 {
	font-family: 'Sunflower', sans-serif;
	font-size: 20px;
	color: PaleVioletRed;
}
.medimg {
	display : inline-block;
	width : 400px;
	height : 400px;
	float : left;
}
#accordion5 .panel {
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin: 0 0 15px 50px;
	
	}
	

.panel-group {
 width : 500px; 
 display : inline-block;
}


#accordion5 .panel-title a {
	display: block;
	padding: 10px 20px 10px 60px;
	background: #fe5f55;
	border-radius: 30px;
	border: 2px solid #fe5f55;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	position: relative;
}

#accordion5 .panel-title a.collapsed {
	border: 2px solid #bbb;
	background: #fff;
	color: #bbb;
}

#accordion5 .panel-title a:before, #accordion5 .panel-title a.collapsed:before
	{
	content: "\f068";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	background: #fe5f55;
	font-size: 18px;
	color: #fff;
	text-align: center;
	border-right: 3px solid #fff;
	position: absolute;
	top: -10px;
	left: -30px;
	z-index: 1;
	transition: all 0.3s ease 0s;
}

#accordion5 .panel-title a.collapsed:before {
	content: "\f067";
	background: #bbb;
	border: none;
}

#accordion5 .panel-body {
	padding: 10px 15px 0;
	margin: 0 0 0 30px;
	border: none;
	font-size: 14px;
	color: #333;
	line-height: 28px;
	position: relative;
}

#accordion5 .panel-body:before {
	content: "";
	display: block;
	width: 5px;
	height: 90%;
	background: #fe5f55;
	position: absolute;
	top: 0;
	left: -30px;
}

#accordion5 .panel-body:after {
	content: "";
	border-top: 20px solid #fe5f55;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	position: absolute;
	bottom: 0;
	left: -48px;
}
.mainPanel {
margin : auto;


}
