@charset "UTF-8";

._suggest_view {
	display: flex;
	flex-direction: column;
}

._suggest_view_state {
	
}

._suggest_view_info_1 {
	display: flex;
}

._suggest_view_info_2 {
	
}

._suggest_view_title {
	
}

._suggest_view_contents {
	min-height: 100px;
}

._suggest_view_images {
	
}