@charset "UTF-8";

.row {
	margin: 0;
}

._suggest_view {
	
}

._suggest_view_state {
	border-bottom: 1px solid black;
}

._suggest_view_info {
	border-bottom: 1px solid black;
}

._suggest_view_title {
	border-bottom: 1px solid black;
}

._suggest_view_contents {
	border-bottom: 1px solid black;
	min-height: 100px;
}

._suggest_view_images {
	
}